<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="{{ host_addr }}/static/js/lib/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ host_addr }}/static/plugin/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="{{ host_addr }}/static/js/mainstage.js"></script>    
    <link href="{{ host_addr }}/static/plugin/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ host_addr }}/static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <title>it is not a social site</title>
</head>
	<body>	
		<!-- header bar thx-->
        <div class="navbar ">
            <div class="navbar-inner">
                <div class="container">
               
                    <a class="brand" href="#">hack2me is not a social site</a>
                    <ul class="nav ">
                    	<li>
                        
                    	</li>
                    </ul>
            	</div>
            </div>
        </div>
        <!-- header bar over-->
        <!-- main start -->
        <body>
  			<div class="container well">
  				<h2>coming as soon as p0ssible......</h2>
  			</div>
		</body>
	</body>
</html>
